{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block body %}

<div>
    <div>
        <h4>Prochain cours: </h4>
    </div>

    {% for card in cards %}

    <div class="card border-card">
        <h5>Cours régulier de {{ card.class }}</h5>
        <h6>Prochains cours: {{ card.nextClass }}</h6>
        <ul>
            <li><img><p>{{ card.student }}</p></li>
            <li><img><p>{{ card.day }}</p><p>À partir du {{ card.limiteDateStart }}</p></li>
            <li><img><p>{{ card.hours }} / par jour</p><p>À partir de {{ card.limiteHourStart }}</p></li>
            <li><img><p>{{ card.teacher }}</p></li>
        </ul>
        <div>
        <button>Détails</button>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}